<div class="container">
    <div class="card" [class.active]="(card$ | async)?.isCardFlipped">
        <div class="card-side front">
            <div class="card-focus"></div>
            <div class="card-cover">
                <img [src]="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/5.jpeg'" class="card-bg" />
            </div>

            <div class="card-container">
                <div class="card-top">
                <img src="assets/chip.png" class="card-chip">
                <div class="card-type">
                    <img [src]="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + (card$ | async)?.cardType + '.png'" *ngIf="(card$ | async)?.cardType" alt="" class="card-typeImg">
                </div>
                </div>

                <label class="card-number">
                  <div class="card-numberItem">{{ ((card$ | async)?.cardNumber | maskCreditCard) }}</div>
                </label>

                <div class="card-content">
                <label class="card-info">
                    <div class="card-holder">Card Holder</div>
                    <div class="card-name">{{ ((card$ | async)?.cardHolderName | formatCardHolderName) }}</div>
                </label>

                <div class="card-date">
                    <label class="card-dateTitle">Expires</label>
                      <label class="card-dateItem">
                        {{ ((card$ | async)?.cardMonth | formatCardMonth) }}/
                      </label>
                      <label class="card-dateItem">
                        {{ ((card$ | async)?.cardYear | formatCardYear) }}
                      </label>
                </div>
                </div>
            </div>
        </div>

        <div class="card-side back">
        <div class="card-cover">
            <img [src]="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/5.jpeg'" class="card-bg">
        </div>
        <div class="card-band"></div>
        <div class="card-cvv">
            <div class="card-cvvTitle">CVV</div>
                <div class="card-cvvBand">{{ ((card$ | async)?.cardCvv | maskCVV) }}</div>
            <div class="card-type">
            <img [src]="'https://raw.githubusercontent.com/muhammederdem/credit-card-form/master/src/assets/images/' + (card$ | async)?.cardType + '.png'" *ngIf="(card$ | async)?.cardType" class="card-typeImg">
            </div>
        </div>
        </div>
    </div>
</div>
